In [28]:
import pandas as pd
from sqlalchemy import create_engine
import psycopg2 as pg

In [19]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [96]:
df = pd.read_csv('yellow_tripdata_2021-01.csv', nrows=1000, index_col=None)

In [97]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [98]:
display(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 18 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   VendorID               1000 non-null   int64
 1   tpep_pickup_datetime   1000 non-null   datetime64[ns]
 2   tpep_dropoff_datetime  1000 non-null   datetime64[ns]
 3   passenger_count        1000 non-null   int64
 4   trip_distance          1000 non-null   float64
 5   RatecodeID             1000 non-null   int64
 6   store_and_fwd_flag     1000 non-null   object
 7   PULocationID           1000 non-null   int64
 8   DOLocationID           1000 non-null   int64
 9   payment_type           1000 non-null   int64
 10  fare_amount            1000 non-null   float64
 11  extra                  1000 non-null   float64
 12  mta_tax                1000 non-null   float64
 13  tip_amount             1000 non-null   float64
 14  tolls_amount           1000 non-null   float64
 15  improvement_surcharge  1000 non-null   float64
 16  total_amount           1000 non-null   float64
 17  congestion_surcharge   1000 non-null   float64
dtypes: datetime64[ns](2), float64(9), int64(6), object(1)
memory usage: 140.8+ KB

None

In [99]:
print(pd.io.sql.get_schema(df, name='yellow_taxi_data',con=engine, schema='postgres'))

CREATE TABLE postgres.yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	"RatecodeID" BIGINT,
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53)
)

In [63]:
df.head(n=0).to_sql(name='yellow_taxi_data', con=engine, if_exists='replace', index=False)

5

In [66]:
conn = pg.connect("host=localhost dbname=ny_taxi user=root password=root")
cur = conn.cursor()
with open('yellow_tripdata_2021-01.csv', 'r') as f:
    # Notice that we don't need the `csv` module.
    next(f) # Skip the header row.
    cur.copy_from(f, 'yellow_taxi_data', sep=',', null="")

conn.commit()