In [17]:
import pandas as pd
from sqlalchemy import create_engine
import psycopg2 as pg

In [18]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [19]:
df = pd.read_csv('taxi_zone_lookup.csv', nrows=1000, index_col=None)

In [20]:
display(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 265 entries, 0 to 264
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   LocationID    265 non-null    int64
 1   Borough       265 non-null    object
 2   Zone          264 non-null    object
 3   service_zone  263 non-null    object
dtypes: int64(1), object(3)
memory usage: 8.4+ KB

None

In [21]:
print(pd.io.sql.get_schema(df, name='taxi_zone_lookup',con=engine, schema='postgres'))

CREATE TABLE postgres.taxi_zone_lookup (
	"LocationID" BIGINT,
	"Borough" TEXT,
	"Zone" TEXT,
	service_zone TEXT
)

In [22]:
df.head(n=0).to_sql(name='taxi_zone_lookup', con=engine, if_exists='replace', index=False)

0

In [24]:
conn = pg.connect("host=localhost dbname=ny_taxi user=root password=root")
cur = conn.cursor()
with open('taxi_zone_lookup.csv', 'r') as f:
    # Notice that we don't need the `csv` module.
    next(f) # Skip the header row.
    cur.copy_from(f, 'taxi_zone_lookup', sep=',', null="")

conn.commit()